<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO-APP</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/libs/bootstrap/css/bootstrap.min.css}"/>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<section id="features">

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 box important"></div>
        <div class="col-lg-3 col-md-4 col-sm-12 box important"></div>
        <div class="col-lg-3 col-md-4 col-sm-12 box important"></div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 box md-important"></div>
        <div class="col-lg-3 col-md-4 col-sm-12 box md-important"></div>
        <div class="col-lg-3 col-md-4 col-sm-12 box md-important"></div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 box not-important"></div>
        <div class="col-lg-3 col-md-4 col-sm-12 box not-important"></div>
        <div class="col-lg-3 col-md-4 col-sm-12 box not-important"></div>
    </div>




</section>

</body>
</html>