<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'todo-app')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: title-section}"></nav>

<div class="new-content">

    <section id="features">


        <div class="container">
            <div class="row justify-content-center">

                <th:block th:each="task: ${tasks}">

                    <div class="col-lg-3 col-md-4 col-sm-12 box">

                        <!--<th:block th:if="${task.taskWeight == task.taskWeight.IMPORTANT}">-->


                        <th:block th:switch="${task.taskWeight.name()}">
                            <div th:case="'IMPORTANT'">
                                <i class="fas fa-thumbtack important"></i>
                            </div>
                            <div th:case="'MD_IMPORTANT'">
                                <i class="fas fa-thumbtack md-important"></i>
                            </div>
                            <div th:case="'NOT_IMPORTANT'">
                                <i class="fas fa-thumbtack not-important"></i>
                            </div>
                        </th:block>


                        <div class="topic">
                            <i class="far fa-lightbulb"></i>
                            <th:block th:utext="${task.title}"></th:block>
                        </div>
                        <hr class="hr-topic">
                        <div class="description">
                            <th:block th:utext="${task.description}"></th:block>
                        </div>
                        <hr class="hr-box">
                        <div class="buttons-note">

                            <form method="POST" th:action="@{/done(plan=${plan},taskId=${task.id})}">
                                <button type="submit" name="submit" value="value" class="btn btn-lg btn-done">
                                    <i class="far fa-check-square"> Done</i>
                                </button>
                            </form>

                            <!--<form method="POST" th:action="@{/done(taskId=${task.id})}">-->
                            <!--<button type="submit" name="submit" value="value" class="btn btn-lg btn-done">-->
                            <!--<i class="far fa-check-square"> Done</i>-->
                            <!--</button>-->
                            <!--</form>-->


                            <form style="display:inline" method="POST"
                                  th:action="@{/update(plan=${plan},taskId=${task.id})}">
                                <button type="submit" name="submit" value="value" class="btn btn-lg btn-update">
                                    <i class="far fa-edit"> Update</i>
                                </button>
                            </form>

                            <form style="display:inline" method="POST"
                                  th:action="@{/delete(plan=${plan},taskId=${task.id})}">
                                <button type="submit" name="submit" value="value" class="btn btn-lg btn-delete">
                                    <i class="far fa-trash-alt"> Delete</i>
                                </button>
                            </form>

                            <!--<form method="POST" th:action="@{/update(taskId=${task.id})}">-->
                            <!--<button type="button" class="btn btn-lg btn-update">-->
                            <!--<i class="far fa-edit"></i> Update-->
                            <!--</button>-->
                            <!--</form>-->
                            <!--<button type="button" class="btn btn-lg btn-delete">-->
                            <!--<i class="far fa-trash-alt"></i> Delete-->
                            <!--</button>-->


                        </div>
                    </div>
                </th:block>
            </div>

        </div>

    </section>


</div>


<div th:replace="~{layouts/main_layout :: footer}"></div>
</body>
</html>