<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head(title = 'Springit - Spring Boot Reddit Clone')}">
</head>
<body>

<nav th:replace="~{layouts/main_layout :: title-section}"></nav>

<div class="new-content">

    <section id="features">


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-12 box important ">
                    <div class="topic">
                        <i class="far fa-lightbulb"></i> Title <i class="fas fa-thumbtack"></i>
                    </div>
                    <hr class="hr-topic">
                    <div class="description">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet lorem elementum nulla finibus
                        pharetra. Fusce congue ex non ex commodo,
                    </div>
                    <hr class="hr-box">
                    <button type="button" class="btn btn-lg btn-done">
                        <i class="far fa-check-square"></i> Done
                    </button>
                    <button type="button" class="btn btn-lg btn-update">
                        <i class="far fa-edit"></i> Update
                    </button>
                    <button type="button" class="btn btn-lg btn-delete">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 box important ">
                    <div class="topic">
                        <i class="far fa-lightbulb"></i> Title <i class="fas fa-thumbtack"></i>
                    </div>
                    <hr class="hr-topic">
                    <div class="description">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet lorem elementum nulla finibus
                        pharetra. Fusce congue ex non ex commodo,
                    </div>
                    <hr class="hr-box">
                    <button type="button" class="btn btn-lg btn-done">
                        <i class="far fa-check-square"></i> Done
                    </button>
                    <button type="button" class="btn btn-lg btn-update">
                        <i class="far fa-edit"></i> Update
                    </button>
                    <button type="button" class="btn btn-lg btn-delete">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 box important ">
                    <div class="topic">
                        <i class="far fa-lightbulb"></i> Title <i class="fas fa-thumbtack"></i>
                    </div>
                    <hr class="hr-topic">
                    <div class="description">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet lorem elementum nulla finibus
                        pharetra. Fusce congue ex non ex commodo,
                    </div>
                    <hr class="hr-box">
                    <button type="button" class="btn btn-lg btn-done">
                        <i class="far fa-check-square"></i> Done
                    </button>
                    <button type="button" class="btn btn-lg btn-update">
                        <i class="far fa-edit"></i> Update
                    </button>
                    <button type="button" class="btn btn-lg btn-delete">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-12 box md-important ">
                    <div class="topic">
                        <i class="far fa-lightbulb"></i> Title <i class="fas fa-thumbtack"></i>
                    </div>
                    <hr class="hr-topic">
                    <div class="description">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet lorem elementum nulla finibus
                        pharetra. Fusce congue ex non ex commodo,
                    </div>
                    <hr class="hr-box">
                    <button type="button" class="btn btn-lg btn-done">
                        <i class="far fa-check-square"></i> Done
                    </button>
                    <button type="button" class="btn btn-lg btn-update">
                        <i class="far fa-edit"></i> Update
                    </button>
                    <button type="button" class="btn btn-lg btn-delete">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 box md-important ">
                    <div class="topic">
                        <i class="far fa-lightbulb"></i> Title <i class="fas fa-thumbtack"></i>
                    </div>
                    <hr class="hr-topic">
                    <div class="description">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet lorem elementum nulla finibus
                        pharetra. Fusce congue ex non ex commodo,
                    </div>
                    <hr class="hr-box">
                    <button type="button" class="btn btn-lg btn-done">
                        <i class="far fa-check-square"></i> Done
                    </button>
                    <button type="button" class="btn btn-lg btn-update">
                        <i class="far fa-edit"></i> Update
                    </button>
                    <button type="button" class="btn btn-lg btn-delete">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 box md-important ">
                    <div class="topic">
                        <i class="far fa-lightbulb"></i> Title <i class="fas fa-thumbtack"></i>
                    </div>
                    <hr class="hr-topic">
                    <div class="description">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet lorem elementum nulla finibus
                        pharetra. Fusce congue ex non ex commodo,
                    </div>
                    <hr class="hr-box">
                    <button type="button" class="btn btn-lg btn-done">
                        <i class="far fa-check-square"></i> Done
                    </button>
                    <button type="button" class="btn btn-lg btn-update">
                        <i class="far fa-edit"></i> Update
                    </button>
                    <button type="button" class="btn btn-lg btn-delete">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-12 box not-important ">
                    <div class="topic">
                        <i class="far fa-lightbulb"></i> Title <i class="fas fa-thumbtack"></i>
                    </div>
                    <hr class="hr-topic">
                    <div class="description">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet lorem elementum nulla finibus
                        pharetra. Fusce congue ex non ex commodo,
                    </div>
                    <hr class="hr-box">
                    <button type="button" class="btn btn-lg btn-done">
                        <i class="far fa-check-square"></i> Done
                    </button>
                    <button type="button" class="btn btn-lg btn-update">
                        <i class="far fa-edit"></i> Update
                    </button>
                    <button type="button" class="btn btn-lg btn-delete">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 box not-important ">
                    <div class="topic">
                        <i class="far fa-lightbulb"></i> Title <i class="fas fa-thumbtack"></i>
                    </div>
                    <hr class="hr-topic">
                    <div class="description">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet lorem elementum nulla finibus
                        pharetra. Fusce congue ex non ex commodo,
                    </div>
                    <hr class="hr-box">
                    <button type="button" class="btn btn-lg btn-done">
                        <i class="far fa-check-square"></i> Done
                    </button>
                    <button type="button" class="btn btn-lg btn-update">
                        <i class="far fa-edit"></i> Update
                    </button>
                    <button type="button" class="btn btn-lg btn-delete">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 box not-important ">
                    <div class="topic">
                        <i class="far fa-lightbulb"></i> Title <i class="fas fa-thumbtack"></i>
                    </div>
                    <hr class="hr-topic">
                    <div class="description">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec laoreet lorem elementum nulla finibus
                        pharetra. Fusce congue ex non ex commodo,
                    </div>
                    <hr class="hr-box">
                    <button type="button" class="btn btn-lg btn-done">
                        <i class="far fa-check-square"></i> Done
                    </button>
                    <button type="button" class="btn btn-lg btn-update">
                        <i class="far fa-edit"></i> Update
                    </button>
                    <button type="button" class="btn btn-lg btn-delete">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                </div>
            </div>


        </div>


    </section>

</div>

<div th:replace="~{layouts/main_layout :: footer}"></div>

</body>
</html>